/.phpunit.cache
/bootstrap/ssr
/node_modules
/public/build
/public/hot
/public/storage
/resources/js/actions
/resources/js/routes
/resources/js/wayfinder
/storage/*.key
/storage/pail
/storage/rector
/vendor
.env
.env.backup
.env.production
.env.testing
.phpunit.result.cache
/.idea
/.vscode
.DS_Store
npm-debug.log
yarn-error.log
